.custom-navbar {
  background-color: #FFA500 !important;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.logo-img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.project-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.nav-link {
  color: white !important;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0.5rem;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover,
.active-link {
  color: #FFE8A1 !important;
}

.username {
  font-weight: 600;
}
