<app-popup #popup></app-popup>
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid align-items-baseline d-flex">
    <!-- Logo / Title -->
    <a class="navbar-brand project-title" routerLink="/">Annadata</a>

    <!-- Toggle Button (for small screens) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto align-items-baseline">
        <li class="nav-item" *ngIf="loginuser">
          <a class="nav-link" routerLink="/my-requests" routerLinkActive="active-link" *ngIf="loginuser.role==='RECEIVER'" style="font-size: 17px;">My Requests</a>
        </li>
        <li class="nav-item" *ngIf="loginuser">
          <a class="nav-link" routerLink="/donor/homepage" routerLinkActive="active-link" *ngIf="loginuser.role==='DONOR'" style="font-size: 17px;">My Donations</a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-baseline">
        <li class="nav-item" *ngIf="!loginuser">
          <a class="nav-link" routerLink="/login" routerLinkActive="active-link">I want to donate</a>
        </li>
        <li *ngIf="loginuser">
          <a class="nav-link username" routerLink="/userProfile">Hi, {{loginuser.name}}</a>
        </li>
        <li class="nav-item" *ngIf="!loginuser">
          <a class="nav-link" routerLink="/login" routerLinkActive="active-link">Login</a>
        </li>
        <li class="nav-item" *ngIf="loginuser">
          <a class="nav-link username" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="loginuser">
          <span *ngIf="loginuser?.role=='DONOR'" class="badge rounded-pill px-3 py-2" style="background-color: #5B8C5A; color: white;">Donor</span>
          <span *ngIf="loginuser?.role!='DONOR'" class="badge rounded-pill px-3 py-2" style="background-color: #5B8C5A; color: white;">Receiver</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
