<div class="card" style="width: 18rem;">
    <div class="card-body">
      
      <h5 class="card-title">{{donation.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{donation.foodType}}</h6>
      <p class="card-text">{{donation.quantity}}</p>
      <p class="card-text">{{donation.address}}</p>
      <p class="card-text">{{donation.status}}</p>
      <p class="card-text">{{donation.expiryTime}}</p>
      <a href="#" class="card-link">{{donation.addressLink}}</a>
    </div>
  </div>
