<div
  class="card shadow-sm rounded-4 border-0 h-100"
  style="background-color: #faf9f6; transition: transform 0.3s"
  (mouseover)="hover = true"
  (mouseleave)="hover = false"
  [ngStyle]="{ transform: hover ? 'scale(1.02)' : 'scale(1)' }"
  (click)="viewDonationDetails(donation.id)"
>
  <div class="card-body">
    <div style="display: flex; justify-content: space-between;">
      <div>
        <h5 class="card-title mb-1" style="color: #5b3711; font-size: large">
          {{ donation.title }}
        </h5>
        <h6
          class="card-subtitle mb-2"
          style="font-size: medium"
          [ngStyle]="{
            color: donation.foodType === 'VEG' ? '#5B8C5A' : '#F77F00'
          }"
        >
          {{ donation.foodType }}
        </h6>
      </div>

      <div *ngIf="loginUser">
        <p
          *ngIf="loginUser.email === donation.donorEmail"
          class="card-subtitle mb-2"
          style="font-size: medium"
          class="badge rounded-pill px-3 py-2" 
          style="background-color: #5B8C5A; color: white;"
        >
        <!-- <span *ngIf="loginuser?.role!='DONOR'" class="badge rounded-pill px-3 py-2" style="background-color: #5B8C5A; color: white;">Receiver</span> -->

          <strong> Request : </strong> {{ numberofrequest() }}
        </p>
      </div>
    </div>

    <p class="mb-1"><strong>Feeds:</strong> {{ donation.quantity }} people</p>
    <p class="mb-1"><strong>Address:</strong> {{ donation.address }}</p>
    <p class="mb-1 d-flex align-items-center gap-2">
      <strong>Status:</strong>
      <span
        class="badge rounded-pill px-3 py-2 fw-medium"
        [ngStyle]="{
          backgroundColor: donation.status === 'OPEN' ? '#5B8C5A' : '#adb5bd',
          color: 'white'
        }"
      >
        <i
          class="bi bi-check-circle-fill me-1"
          *ngIf="donation.status === 'OPEN'"
        ></i>
        <i
          class="bi bi-x-circle-fill me-1"
          *ngIf="donation.status === 'CLOSED'"
        ></i>
        {{ donation.status === "OPEN" ? "Available" : "Closed" }}
      </span>
    </p>
    <p class="mb-2">
      <strong>Expires at:</strong> {{ donation.expiryTime | date : "short" }}
    </p>

    <a
      class="btn btn-sm rounded-pill"
      [href]="donation.addressLink"
      target="_blank"
      (click)="$event.stopPropagation()"
    >
      View on Map
    </a>
  </div>
</div>
