<app-navbar></app-navbar>



<div class="table-container home-container">
    <mat-card class="p-3 ">
      <div class="d-flex justify-content-between">
        <h4 class="mb-3">
          <button class="btn"
                  [ngClass]="{ 'active-button': !isHistoryView }"
                  style="background-color: #5B8C5A; color: white;"
                  (click)="isHistoryView = false">
            Pending Request
          </button>
        </h4>
        
        <div>
          <button class="btn"
                  [ngClass]="{ 'active-button': isHistoryView }"
                  style="background-color: #5B8C5A; color: white;"
                  (click)="isHistoryView = true">
            History
          </button>
        </div>
        
      </div>
      
    <div class="table-responsive table-gradient-container " *ngIf=!isHistoryView>
      <table mat-table [dataSource]="dataSource" matSort class="custom-tabletable table-bordered table-striped ">
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let user; let i = index">{{ i+1 }}</td>
        </ng-container>
  
  
        <ng-container matColumnDef="receiverName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>receiverName</th>
          <td mat-cell *matCellDef="let user">{{ user.receiverName  }}</td>
        </ng-container>

        <ng-container matColumnDef="reciverContact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>reciverContact</th>
          <td mat-cell *matCellDef="let user">{{ user.receiverContact  }}</td>
        </ng-container>


        <ng-container matColumnDef="QtyRequest">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>QtyRequest</th>
          <td mat-cell *matCellDef="let user">{{ user.quantityRequested  }}</td>
        </ng-container>

        <ng-container matColumnDef="Message">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
            <td mat-cell *matCellDef="let user">{{ user.message }}</td>
          </ng-container>

       
          <ng-container matColumnDef="Status">
            <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th> -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let user">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select (selectionChange)="acceptRequest($event.value, user.id)">
                  <mat-option value="ACCEPTED">Accept</mat-option>
                  <mat-option value="DENIED">Denied</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>

            <td mat-cell *matCellDef="let user">
                <span
                [ngStyle]="{
                  color: user.Status === 'Approved' ? 'green' : 'red',
                  'font-weight': 'bold'
                }"
              >
                   {{ user.Status === 'Approved' ? 'Approved' : 'Pending' }}
                </span>
             
              </td>
          </ng-container> -->
  
        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="table-responsive table-gradient-container " *ngIf=isHistoryView>
      <table mat-table [dataSource]="historyDataSource" matSort class="custom-tabletable table-bordered table-striped">
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let user; let i = index">{{ i+1 }}</td>
        </ng-container>
  
        <ng-container matColumnDef="receiverName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>receiverName</th>
          <td mat-cell *matCellDef="let user">{{ user.receiverName  }}</td>
        </ng-container>

        <ng-container matColumnDef="reciverContact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>receiverContact</th>
          <td mat-cell *matCellDef="let user">{{ user.receiverContact  }}</td>
        </ng-container>

        <ng-container matColumnDef="QtyRequest">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>QtyRequest</th>
          <td mat-cell *matCellDef="let user">{{ user.quantityRequested  }}</td>
        </ng-container>

        <ng-container matColumnDef="Message">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
            <td mat-cell *matCellDef="let user">{{ user.message }}</td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let user">{{ user.status }}</td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
    </div>
  
    <!-- <mat-paginator [pageSizeOptions]="[4, 10, 20]"></mat-paginator> -->
  </mat-card>
  
</div>


<!-- ------------------------------------------ -->


<div class="table-container">

    <mat-card class="p-4">
      <h4 class="mb-2">Order</h4>
      <div class="table-responsive table-gradient-container2">
        <table mat-table [dataSource]="acceptedDataSource" matSort class="table table-bordered table-striped">
    
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let user; let i = index">{{ i+1 }}</td>
          </ng-container>
  

          <ng-container matColumnDef="reciverName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>reciverName</th>
            <td mat-cell *matCellDef="let user">{{ user.receiverName  }}</td>
          </ng-container>
  
          <ng-container matColumnDef="reciverContact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>reciverContact</th>
            <td mat-cell *matCellDef="let user">{{ user.receiverContact  }}</td>
          </ng-container>

          
          <!-- Name Column -->
          <ng-container matColumnDef="QtyRequest">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>QtyRequested</th>
            <td mat-cell *matCellDef="let user">{{ user.quantityRequested }}</td>
          </ng-container>
    
          <!-- Email Column -->
          <ng-container matColumnDef="Message">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
            <td mat-cell *matCellDef="let user">{{ user.message }}</td>
          </ng-container>
  
       
  
            <ng-container matColumnDef="otp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Otp</th>
              <td mat-cell *matCellDef="let user">{{ user.donorOtp}}</td>
            </ng-container>
  
         
  
            <ng-container matColumnDef="Status">
              <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th> -->
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
  
              <td mat-cell *matCellDef="let user">
                  <button mat-raised-button color="primary" (click)="completeRequest(user.id)">
                    Completed
                  </button>
                </td>
            </ng-container>
    
          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="acceptedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: acceptedColumns;"></tr>
        </table>
      </div>
    
      <!-- <mat-paginator [pageSizeOptions]="[4, 10, 20]"></mat-paginator> -->
    </mat-card>
  </div>